beautifulsoup4     
certifi            
charset-normalizer 
colorama           
contourpy          
cycler             
DateTime           
docx2pdf           
et_xmlfile         
fonttools          
idna               
kiwisolver         
looseversion       
matplotlib         
mpmath             
numpy              
openpyxl           
packaging          
pandas             
pillow             
pip                
pyparsing          
python-dateutil    
pytz               
pywin32            
requests           
rethinkdb          
setuptools         
six                
soupsieve          
sympy              
tqdm               
typing_extensions  4.15.0
tzdata             2025.2
urllib3            2.5.0
zope.interface     7.2
zxcvbn             4.5.0
